h3 {
  color: green;
  text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
}

table {
  border-collapse: collapse;
  background-color: lightgreen;
}

table,
td {
  border: 1px solid black;
}

.none{
    display: none;
    text-align: center;
}